@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: "Raleway";
		font-style: normal;
		font-weight: 400;
		font-display: swap;
		src: url(/fonts/Raleway-Black.ttf) format("woff2");
	}
	@font-face {
		font-family: "Raleway";
		font-style: italic;
		font-weight: 400;
		font-display: swap;
		src: url(/fonts/Raleway-BlackItalic.ttf) format("woff2");
	}
	@font-face {
		font-family: "Raleway";
		font-style: normal;
		font-weight: 700;
		font-display: swap;
		src: url(/fonts/Raleway-Bold.ttf) format("woff2");
	}
	@font-face {
		font-family: "Raleway";
		font-style: italic;
		font-weight: 700;
		font-display: swap;
		src: url(/fonts/Raleway-BoldItalic.ttf) format("woff2");
	}
	@font-face {
		font-family: "Raleway";
		font-style: normal;
		font-weight: 800;
		font-display: swap;
		src: url(/fonts/Raleway-ExtraBold.ttf) format("woff2");
	}
	@font-face {
		font-family: "Raleway";
		font-style: italic;
		font-weight: 800;
		font-display: swap;
		src: url(/fonts/Raleway-ExtraBoldItalic.ttf) format("woff2");
	}
	@font-face {
		font-family: "Raleway";
		font-style: normal;
		font-weight: 200;
		font-display: swap;
		src: url(/fonts/Raleway-ExtraLight.ttf) format("woff2");
	}
	@font-face {
		font-family: "Raleway";
		font-style: italic;
		font-weight: 200;
		font-display: swap;
		src: url(/fonts/Raleway-ExtraLightItalic.ttf) format("woff2");
	}
	@font-face {
		font-family: "Raleway";
		font-style: normal;
		font-weight: 300;
		font-display: swap;
		src: url(/fonts/Raleway-Light.ttf) format("woff2");
	}
	@font-face {
		font-family: "Raleway";
		font-style: italic;
		font-weight: 300;
		font-display: swap;
		src: url(/fonts/Raleway-LightItalic.ttf) format("woff2");
	}
	@font-face {
		font-family: "Raleway";
		font-style: normal;
		font-weight: 500;
		font-display: swap;
		src: url(/fonts/Raleway-Medium.ttf) format("woff2");
	}
	@font-face {
		font-family: "Raleway";
		font-style: italic;
		font-weight: 500;
		font-display: swap;
		src: url(/fonts/Raleway-MediumItalic.ttf) format("woff2");
	}
	@font-face {
		font-family: "Raleway";
		font-style: normal;
		font-weight: 400;
		font-display: swap;
		src: url(/fonts/Raleway-Regular.ttf) format("woff2");
	}
	@font-face {
		font-family: "Raleway";
		font-style: normal;
		font-weight: 600;
		font-display: swap;
		src: url(/fonts/Raleway-SemiBold.ttf) format("woff2");
	}
	@font-face {
		font-family: "Raleway";
		font-style: italic;
		font-weight: 600;
		font-display: swap;
		src: url(/fonts/Raleway-SemiBoldItalic.ttf) format("woff2");
	}
	@font-face {
		font-family: "Raleway";
		font-style: normal;
		font-weight: 100;
		font-display: swap;
		src: url(/fonts/Raleway-Thin.ttf) format("woff2");
	}
	@font-face {
		font-family: "Raleway";
		font-style: italic;
		font-weight: 100;
		font-display: swap;
		src: url(/fonts/Raleway-ThinItalic.ttf) format("woff2");
	}

	html {
		font-family: "Raleway";
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-weight: bold;
	}

	p {
		font-size: 16px;
	}

}

#burger-menu {
	cursor: pointer;
	height: 27px;
	width: 27px;
	margin-left: auto;
	overflow: visible;
	position: relative;
	z-index: 2;

	span,
	span:before,
	span:after {
		background: theme('colors.blue');;
		display: block;
		height: 2px;
		opacity: 1;
		position: absolute;
		transition: 0.3s ease-in-out;
	}

	span:before,
	span:after {
		content: "";
	}

	span:before {
		left: 0px;
		top: -10px;
		width: 27px;
	}

	span {
		right: 0px;
		top: 13px;
		width: 27px;
	}

	span:after {
		left: 0px;
		top: 10px;
		width: 27px;
	}
}

#burger-menu.opened {
	span:before {
		top: 0px;
		transform: rotate(90deg);
		width: 27px;
	}

	span {
		transform: rotate(-45deg);
		top: 13px;
		width: 27px;
	}

	span:after {
		top: 0px;
		left: 0;
		transform: rotate(90deg);
		opacity: 0;
		width: 0;
	}
}

.height-animation {
	transition: max-height .5s linear;
	overflow: hidden;
	flex-wrap: wrap;
	flex-wrap: nowrap;
}

.height-animation.active {
	max-height: 300px !important;
	transition-delay: 0s;
}
