<footer class="py-[30px]">
	<div
		class="grid grid-cols-3 max-w-[1080px] mx-auto justify-center max-lsm:grid-cols-1 max-lsm:max-w-[480px] max-lsm:gap-[48px] max-lsm:px-[30px]">
		<div class="flex flex-col items-center">
			<img
				class="w-[100px] mb-[1.5rem]"
				src="/images/logo.webp"
				alt="ChecknGo Logo" />
			<h2 class="text-[20px]">Check & Go</h2>
		</div>
		<div>
			<h2 class="text-[20px] mb-[8px]">{{About}}</h2>
			<div class="flex flex-col gap-[15px]">
				<p>Restamatico, S.L.</p>
				<p>NIF: B13888169</p>
				<p>C. Lepant, 270, 08013 Barcelona</p>
				<p>+34 936 940 116</p>
			</div>
		</div>
		<div>
			<h2 class="text-[20px] mb-[8px]">{{Legal}}</h2>
			<div
				id="terms_and_conditions"
				class="flex flex-col gap-[15px]">
				<a
					class="underline underline-offset-4"
					href="!/terms-and-conditions"
					>{{Terms and conditions}}</a
				>
			</div>
		</div>
	</div>
</footer>
<div
	class="flex justify-center items-center pb-5 lsm:gap-[50px] max-lsm:flex-col">
	<span>
		<a
			href="https://www.iubenda.com/privacy-policy/76257529"
			class="iubenda-black iubenda-noiframe iubenda-embed iubenda-noiframe"
			title="Política de Privacidad "
			style="
				outline: 0px;
				border: 0px;
				text-decoration: none;
				display: inline-block;
				background: none;
				width: 116px;
				height: 25px;
			"
			>Política de Privacidad</a
		>
		<script
			type="text/javascript"
			src="https://cdn.iubenda.com/iubenda_i_badge.js"></script>
		<script type="text/javascript">
			(function (w, d) {
				var loader = function () {
					var s = d.createElement("script"),
						tag = d.getElementsByTagName("script")[0];
					s.src = "https://cdn.iubenda.com/iubenda.js";
					tag.parentNode.insertBefore(s, tag);
				};
				if (w.addEventListener) {
					w.addEventListener("load", loader, false);
				} else if (w.attachEvent) {
					w.attachEvent("onload", loader);
				} else {
					w.onload = loader;
				}
			})(window, document);
		</script>
	</span>
	<span>
		<a
			href="https://www.iubenda.com/privacy-policy/76257529/cookie-policy"
			class="iubenda-black iubenda-noiframe iubenda-embed iubenda-noiframe"
			title="Política de Cookies "
			style="
				outline: 0px;
				border: 0px;
				text-decoration: none;
				display: inline-block;
				background: none;
				width: 116px;
				height: 25px;
			"
			>Política de Cookies</a
		>
		<script
			type="text/javascript"
			src="https://cdn.iubenda.com/iubenda_i_badge.js"></script>
		<script type="text/javascript">
			(function (w, d) {
				var loader = function () {
					var s = d.createElement("script"),
						tag = d.getElementsByTagName("script")[0];
					s.src = "https://cdn.iubenda.com/iubenda.js";
					tag.parentNode.insertBefore(s, tag);
				};
				if (w.addEventListener) {
					w.addEventListener("load", loader, false);
				} else if (w.attachEvent) {
					w.attachEvent("onload", loader);
				} else {
					w.onload = loader;
				}
			})(window, document);
		</script>
	</span>
</div>
<script
	type="module"
	src="/main.js"></script>
