<header
	id="header"
	class="flex items-center justify-between px-[31px] py-[17px] gap-[24px] sticky top-0 bg-[#fff] max-lsm:grid grid-cols-2 max-lsm:px-[15px] max-lsm:max-h-[104px] height-animation z-10">
	<a href="/"
		><img
			class="w-[70px]"
			src="/images/logo.webp"
			alt="ChecknGo Logo" />
	</a>
	<div
		id="burger-menu"
		class="lsm:hidden">
		<span></span>
	</div>
	<nav
		class="flex gap-[40px] text-blue overflow-hidden max-lsm:col-span-2 max-lsm:flex-col max-lsm:gap-[16px]">
		<a
			class="text-[14px]"
			href="/es/"
			>ESP</a
		>
		<a
			class="text-[14px]"
			href="/"
			>ENG</a
		>
	</nav>
</header>
